{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Woodland</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
</head>
<body class="grey lighten-4">
    <div class="banner">
        <h1 class="company-logo center">Company Name</h1>
    </div>
    <div class="container row">
       <div class="col s12">
           <h3 class="grey-text">About us</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Illum hic voluptas unde repellat dignissimos, quos fugit itaque expedita perspiciatis maiores optio earum fuga mollitia culpa iure nostrum exercitationem?
             Quibusdam sed totam laboriosam ipsam fugiat?</p>
       </div>
       <div class="col s12">
           <h5 class="center grey-text">Our products</h5>
         {% include 'lightbox.html' %}
       </div>
    </div>
    
    <footer class="page-footer footer-section blue-grey darken-3">
       <div class="container">
           <div class="row">
               <div class="col offset-s6">
                   <h6>Contact Us</h6>
                   <p>
                       Phone<br/>
                       Address</br>
                   </p>
               </div>
           </div>
       </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/main.js' %}" />
</body>
</html>