{% load static %}
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image2.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>

   <div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image2.jpeg' %}" alt="product image"/>
        <span class="card-title">Mahogany</span>
    </div>
    <div class="card-content">
        <p>Often picked for its elegance and beauty and durability. Above all, the value is worth it.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image3.jpeg' %}" alt="product image"/>
        <span class="card-title">Wood logs</span>
    </div>
    <div class="card-content">
        <p>We also provide freshly cut logs of wood which you can then transform into something artist.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image4.jpeg' %}" alt="product image"/>
        <span class="card-title">Fresh trees</span>
    </div>
    <div class="card-content">
        <p>Need to make a purchase before logging? Then, look no further,  we shall have you sorted in no time.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image5.jpeg' %}" alt="product image"/>
        <span class="card-title">Roofing wood</span>
    </div>
    <div class="card-content">
        <p>We have the solution to your roofing problems. We always have you covered.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image6.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image7.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image8.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image9.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image10.jpeg' %}" alt="product image"/>
        <span class="card-title">Timber</span>
    </div>
    <div class="card-content">
        <p>We provide excellent quality timber for all your carpentry needs.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image11.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image12.jpeg' %}" alt="product image"/>
        <span class="card-title">OAK wood</span>
    </div>
    <div class="card-content">
        <p>Perfect for your flooring solutions, let us know if you need any and we shall be happy to supply.</p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });
</script>