{% load static %}
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image2.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>

   <div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image2.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image3.jpeg' %}" alt="product image"/>
        <span class="card-title">Wooden floor</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image4.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image5.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image6.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image7.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image8.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image9.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image10.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image11.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>
<div class="col s12 m4 l4 card">
    <div class="card-image">
        <img class="materialboxed" src="{% static 'img/image12.jpeg' %}" alt="product image"/>
        <span class="card-title">Product Name</span>
    </div>
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur soluta incidunt.</p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });
</script>