.banner{
    background: url('../img/banner2.jpeg') no-repeat;
    background-size: cover;
    height:50vh;
    padding:30px;
    margin-top: 0px;
}
.nav-container{
    padding: 103px;
}
.company-logo{
    color: rgba(255, 255,255, .6);
}
img{
    height:30vh;
}
.col{
   margin: 5px;
}
.footer-section{
    padding: 30px;
    margin-bottom: 0px;
}

#about{
    height: 40vh;
    margin-bottom:6px;
    margin-top: 66px;
}