.banner{
    background: url('../img/banner2.jpeg') no-repeat;
    background-size: cover;
    height:50vh;
    padding:20px;
}
.company-logo{
    color: rgba(255, 255,255, .6);
}
img{
    height: 35vh;
}
.col{
   margin: 5px;
}
.footer-section{
    padding: 100px;
    margin-bottom: 0px;
}